/* About Section */
.about-container {
    padding: 3rem 0;
    color: black;
    display: flex;
  
}

.about-content {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

.fade-in-up {
    animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Years Section */
.about-years {
    display: flex;
    align-items: center;
}

.years-info {
    text-align: center;
}

.display-1 {
    font-size: 10rem;
    font-weight: bold;
    margin: 0;
    color: #12141d;
}
.yrs{
    font-size: 20px;
    letter-spacing: 1.7rem;
    font-weight: 600;
    color: #12141d;
}
.yrs-details{
    font-size: 28px;
    font-weight:500;
    color: #12141d;
}

.lh-base {
    line-height: 1.5;
}

/* Features List */
.mb-3 i {
    color: #007bff;
}

/* Button */
.btn {
    display: inline-block;
    background-color: rgb(12, 18, 116);
    color: white;
    text-decoration: none;
    padding: 16px 48px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.btn:hover {
    background-color: #533aa7;
    text-decoration: none;
}

/* Image Styling */
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

/* Clients and Projects Info */
.d-flex {
    display: flex;
    align-items: center;

}

.border-end {
    border-right: 2px solid #dee2e6;
    padding-right: 1rem;
    font-size: 20px;
    font-weight: 600;
    color: #12141d;
}

.fw-bold {
    font-weight: 700;
}
.main{
    display: flex;
}
.years{
    flex: 1;
    padding: 0px 24px;
}
.projects{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
}
.projects > *{
    flex:1;
}

.years-info{
    flex:1;
}
.years-breif{
    flex:2;
}

.weoffer{
    color: #5a5a5a;
}

/* Left section styling */

.row{
    display: flex;
   justify-content: space-between;
    flex:1;
}
.aboutImg1{
    flex: 1;
}
.aboutImg2{
    flex:1;
}
.img-fluid{
    height: 19rem;
    width:auto;
    object-fit: contain;
    border-radius: 0.9rem;
}
.num{
    font-size: 32px;
}
.plus{
    font-size: 32px;
}
.para{
    color: #5A5A5A;
    font-size: 16px;
}



