@keyframes randomTilt {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
}

.tech-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

.tech-discriptiion {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.tech-discriptiion h1 {
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem;
}

.tech-discriptiion p {
    padding: 1rem;
    font-size: 1.1rem;
}

.discription {
    flex: 1.1;
}

.empty {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
}

.empty img {
    height: 22rem;
    width: auto;
}

.tech-icons {
    flex: 1;
    margin-top: 1rem;
}

.tech-icons h1 {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.techIcons {
    display: flex; 
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
}

.techIcons img {
    height: 6rem;
    width: 6rem;
    padding: 1rem;
    object-fit: contain;
    transition: transform 0.3s ease;
    animation: randomTilt 3s ease-in-out infinite; /* Add the animation */
}
