.QR{
  display: grid;
  justify-items: center;
  gap: 1rem;
  p{
    font-size: 24px;
    color: black;
    margin-top: 30px;
  }
  div{
    display: grid;
    justify-items: center;
    gap: 1rem;
    img {
      height: 120px;
    }
  }
}