@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    /* outline: 1px solid red; */
    box-sizing: border-box;
}
:root{
    font-family: "Open Sans", sans-serif;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* header{
background:black;
background: -webkit-linear-gradient(to right, #232526, #414345);
background-size: cover;
background-image: url('./assets/video1.gif');
display: flex;
justify-content: center;
} */

.header {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    height: 100vh;
}

.video-background {
    position: absolute;
    height: 100vh;
    width:100vw;
    top: 0;
    left: 0;
    object-fit:cover; /* Ensures the v ideo covers the whole area */
    /* z-index: -1; Ensures video stays behind other content */
} 

.head-cont {
    z-index: 1; /* Ensures content appears on top of the video */
    color: white;
    text-align: center;
}


.head-cont{
    max-width: 1800px;
}

/* General Navbar styles */
.navbar {
    /* padding: 1rem 2rem; */
    background-color: transparent;
    transition: background-color 0.3s ease; /* Smooth background transition when becoming fixed */
}

/* Fixed Navbar styles after scroll */
.fixed-navbar {
    position: fixed;
     top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color:black; /* Same color as the header background */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Add a shadow when fixed */
}
section.About{
    flex-direction:column;
   
}
section{
    margin: 0 auto;
    display: flex;
}


section:nth-child(even){
    background-color:'#f5fdfc';
}

section.Tech{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    flex-direction:row;
    color: #12141d;
}
@media (max-width: 768px) {
    section.Tech {
        padding: 1rem;
    }
}

.services{
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.grid_container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 350px) );
    gap: 3rem;
    padding: 0rem 1rem;
    place-content: center;
    padding-top:2rem;
}
section.Contact-frm{
    background-color: white;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;

}

footer{
    background-color:black;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  

}
footer *{
    /* outline: 1px solid red; */
}
